%h2 Hashtag Trader
%ul
	- settings.configuration.omniauth_providers.each do |provider|
		%a{ href: "/auth/#{provider.id}" }
			%button.btn.btn-large.btn-success.navbar-btn{:type => "button"} Login
					



