%h2.login #HASHTAG TRADER
.logincontainer
	%h3.login Please login
	%br 
	%br
	%ul
		- settings.configuration.omniauth_providers.each do |provider|
			%a{ href: "/auth/#{provider.id}" }
				.loginbutton
					%button.btn.btn-warning.btn-large.btn-lg.btn-block{:type => "button"} Login via Github		
			%br
			%a{ href: "/auth/#{provider.id}" }
				.loginbutton
					%button.btn.btn-info.btn-large.btn-lg.btn-block{:type => "button"} Register via Github



