!!!
%html
	%head
		= bootstrap_assets
		%link{:type => "text/css", :rel => "stylesheet", :href => "/css/style.css"}
		%title
			Registration
	%body
	.container-fluid
		.row
			.span9
				.span1
				.span6
					= yield
	