!!!
%html
	%head
		= bootstrap_assets
		%link{:type => "text/css", :rel => "stylesheet", :href => "/css/style.css"}
		%title
			HashtagTrader Registration 
	%body
	.container
		.row
			.span4.center
				= yield
<<<<<<< HEAD
=======
	
>>>>>>> fc55015d97dca5fe6f06149dc37e4e3ad84aeb0a
