!!!
%html
	%head
		= bootstrap_assets
		%link{:type => "text/css", :rel => "stylesheet", :href => "/css/style.css"}
		%title
			HashtagTrader Registration 
	%body
	.container
		.row
			.span4.center
				= yield
	