%form.form-horizontal{ :action=>"", :method => "post", :role=> "form"}
    %fieldset
        %legend
            Registration
        .form-group
            %strong
                %label{:for => "name"} First Name:
            %input.input-xlarge{:type=>"text",:name =>"name",:placeholder => 'Enter first name'}
        .form-group
            %label{:for => "Surname"}Surname:
            %input.input-xlarge{:type=>"text",:name =>"surname",:placeholder => 'Enter surname'}
        .form-group
            %label{:for => "Email"} Email:
            %input.input-xlarge{:type=>"email",:name =>"email",:placeholder => 'e-mail'}

        .form-group
            %label{:for => "cats"} Do you like cats?
            .radio
                %label
                    %input{:name => "catsRadio", :type => "radio", :value => "yes"} Yes
            .radio
                %label
                    %input{:name => "catsRadio", :type => "radio", :value => "no"} No

        .form-group
            %label{:for => "typeofcats"} Which cats do you like?
            %label
                %input{:type=>"checkbox",:name =>"cat", :value =>"1"} 
                    Persian    
                %input{:type=>"checkbox",:name =>"cat", :value =>"2"} 
                    Siamese
            %label 
                %input{:type=>"checkbox",:name =>"cat", :value =>"3"} 
                    Maine Coon
                %input{:type=>"checkbox",:name =>"cat", :value =>"4"} 
                    American Shorthair
            %label    
                %input{:type=>"checkbox",:name =>"cat", :value =>"5"} 
                British Shorthair
                %input{:type=>"checkbox",:name =>"cat", :value =>"6"} 
                Burmese
            %label       
                %input{:type=>"checkbox",:name =>"cat", :value =>"7"} 
                Ragdoll   
                %input{:type=>"checkbox",:name =>"cat", :value =>"8"} 
                Bengal     
        %br
        %label
            %input{:type=>"checkbox",:name =>"termsAgreed", :value =>"Y"} 
                I agree with the
                %a{:href => "/auth/Terms", :target=>"_blank"} Terms and conditions

       
        %br
        .centbutton
            %button.btn.btn-success{:type => "submit"} Submit

