%form.form-horizontal{ :action=>"", :method => "post", :role=> "form"}
    %legend
        Registration
    .form-group
        %strong
            %label{:for => "name"}Name:
        %input.input-xlarge{:type=>"text",:name =>"name",:placeholder => 'Your name'}
    .form-group
        %label{:for => "Surname"}Surname:
        %input.input-xlarge{:type=>"text",:name =>"surname",:placeholder => 'Enter surname'}
    .form-group
        %label{:for => "Email"} Email:
        %input.input-xlarge{:type=>"email",:name =>"email",:placeholder => 'e-mail'}
    .form-group
        %label{:for => "userStatus"} User status:
        .radio
            %label
                %input{:id=>'cb1', :name => "userStatus", :type => "radio", :value => "casual"} Casual
        .radio    
            %label
                %input{:id=>'cb2',:name => "userStatus", :type => "radio", :value => "power"} Power

    .form-group
        %label{:for => "cats"} Do you like cats?
        .radio
            %label
                %input{:name => "catsRadio", :type => "radio", :value => "yes"} Yes
        .radio
            %label
                %input{:name => "catsRadio", :type => "radio", :value => "no"} No

    .form-group
        %label{:for => "typeofcats"} Which cats do you like?
        %label
            %input{:type=>"checkbox",:name =>"cat", :value =>"1"} 
                Cat1
        %label
            %input{:type=>"checkbox",:name =>"cat", :value =>"2"} 
                Cat2
        %label 
            %input{:type=>"checkbox",:name =>"cat", :value =>"3"} 
                Cat3
        %label
            %input{:type=>"checkbox",:name =>"cat", :value =>"4"} 
                Cat4 
        %label    
            %input{:type=>"checkbox",:name =>"cat", :value =>"5"} 
            Cat5
        %label        
            %input{:type=>"checkbox",:name =>"cat", :value =>"6"} 
            Cat6
        %label       
            %input{:type=>"checkbox",:name =>"cat", :value =>"7"} 
            Cat7
        %label     
            %input{:type=>"checkbox",:name =>"cat", :value =>"8"} 
            Cat8       
    %br
    %label
        %input{:type=>"checkbox",:name =>"termsAgreed", :value =>"Y"} 
            I agree with the
            %a{:href => "/Terms", :target=>"_blank"} Terms and conditions

   
    %br

    %button.btn.btn-default{:type => "submit"} Submit

