%form.form-horizontal{ :action=>"", :method => "post", :role=> "form"}
    %legend
        Registration
    .form-group
        %strong
            %label{:for => "name"}Name:
        %input.input-xlarge{:type=>"text",:name =>"name",:placeholder => 'Your name'}
    
    .form-group
        %label{:for => "Surname"}Surname:
        %input.input-xlarge{:type=>"text",:name =>"surname",:placeholder => 'Enter surname'}
    .form-group
        %label{:for => "Email"} Email:
        %input.input-xlarge{:type=>"email",:name =>"email",:placeholder => 'e-mail'}
    .form-group
        %label{:for => "userStatus"} User status:
        .radio
            %label
                %input{:id=>'cb1', :name => "userStatus", :type => "radio", :value => "casual"} Casual
        .radio    
            %label
                %input{:id=>'cb2',:name => "userStatus", :type => "radio", :value => "power"} Power

    .form-group
        %label{:for => "cats"} Do you like cats?
        .radio
            %label
                %input{:name => "catsRadio", :type => "radio", :value => "yes"} Yes
        .radio
            %label
                %input{:name => "catsRadio", :type => "radio", :value => "no"} No

    .form-group
        %label{:for => "typeofcats"} Which cats do you like?
        %label
            %input{:type=>"checkbox",:name =>"cat", :value =>"1"} 
                Persian
        %label
            %input{:type=>"checkbox",:name =>"cat", :value =>"2"} 
                Siamese
        %label 
            %input{:type=>"checkbox",:name =>"cat", :value =>"3"} 
                Maine Coon
        %label
            %input{:type=>"checkbox",:name =>"cat", :value =>"4"} 
                American Shorthair
        %label    
            %input{:type=>"checkbox",:name =>"cat", :value =>"5"} 
            British Shorthair
        %label        
            %input{:type=>"checkbox",:name =>"cat", :value =>"6"} 
            Burmese
        %label       
            %input{:type=>"checkbox",:name =>"cat", :value =>"7"} 
            Ragdoll
        %label     
            %input{:type=>"checkbox",:name =>"cat", :value =>"8"} 
            Bengal     
    %br
    %label
        %input{:type=>"checkbox",:name =>"cat", :value =>"8"} 
            I agree with the
            %a{:href => "/Terms", :target=>"_blank"} Terms and conditions

   
    %br

    %button.btn.btn-default{:type => "submit"} Submit

